.st-emotion-cache-13k62yr, .st-emotion-cache-h4xjwg, .st-emotion-cache-hzygls {
    background-color: #0D2241;
}

.stSidebar, .stSidebarHeader, .stSidebarContent {
    background-color: #112d57;
}

.st-emotion-cache-1espb9k h1, #mentorai-chat {
    color: #58AED6;
}

.st-emotion-cache-11b9did {
    text-align: left;
    justify-content: flex-start;
}

.st-emotion-cache-jh76sn:focus:not(:active) {
    border-color: #4990B1;
    color: #4990B1;
}

.st-emotion-cache-jh76sn:hover {
    border-color: #4990B1;
    color: #4990B1;
}

.st-emotion-cache-jh76sn:active {
    border-color: #4990B1;
    color: white;
    background-color: #4990B1;
}

.st-emotion-cache-11b9did:hover {
    color: #4990B1;
}

.st-emotion-cache-glsyku {
    box-shadow: 5px 5px 5px black;
    background-color: #112d57;
}

.st-c4, .st-c5, .st-c6, .st-c7 {
    border-color: #4990B1;
}